:root {
/* 
Color scheme definitions

http://build.fhir.org/ig/FHIR/ig-guidance/index.html

Usage:
   var(--publish-box-bg-color); 
   
   override only those that IHE needs to be different than the default
   
*/

/* IHE changes from ig base project.css : 1-8, 21-28 */
  --ig-status-text-color: #1e0a37; /* 1. IG Title and status text color */
  --navbar-bg-color: #d9e6f1; /* 2. Header container color */
  --footer-bg-color: #d9e6f1; /* 3. Footer background color*/
  --footer-container-bg-color: #d9e6f1; /* 4. Footer container color */
  --stripe-bg-color: #d9e6f1; /* 5. Header strip color */
  /* color from bar on www.ihe.net 50398b */
  
  --btn-hover-color: #0b0b3d;  /* 6. Menu button hover color */
  --btn-active-color: #0b0b3d; /* 7. Menu button active color */
  --btn-text-color: #000000; /* 8. Menu button text color */

  --btn-gradient-start-color: #428bca; /* 9. Menu item gradient start color */
  --btn-gradient-end-color: #357ebd; /* 10. Menu item gradient end  color */
  --btn-gradient-start-color-alpha: #ff428bca; /* 11. Menu item gradient start color (with alpha) */
  --btn-gradient-end-color-alpha: #ff357ebd; /* 12. Menu item gradient end color (with alpha) */
  --link-color: #428bca; /* 13. Hyperlink text color */
  --link-hover-color: #2a6496; /* 14. Hyperlink text hover color */

  --publish-box-bg-color: yellow; /* 15. Publish box background color */
  --publish-box-border: 1px solid #0A0008; /* 16.  Publish box border definition */

  --toc-box-bg-color: #ffeb7e; /* 17.  TOC box background color */
  --toc-box-border: 1px solid navy; /* 18. TOC box border definition */

  --stu-note-background-color: #fff2ff; /* 19. (STU) Note box background color */
  --stu-note-border-left-color: #ffa0ff; /* 20. (STU) Note box border color */

  --ig-header-color: #f5f5f5; /* 21. Header color (sides) */
  --ig-header-container-color: #ffffff; /* 22. Header container color (center) */
  --footer-nav-bg-color: #f5f5f5; /* 23. Footer navigation background color*/


  --footer-text-color: #000000; /* 24. Footer highlight font color */
  --footer-hyperlink-text-color: #0909c5; /* 25. Footer hyperlinks font color */
  --footer-highlight-text-color: #0909c5; /* 26. Footer highlight font color */

  --breadcrumb-bg-color: #f5f5f5; /* 27. Breadcrumb background color */
  --breadcrumb-text-color: #777777; /* 28. Breadcrumb font color */

  --dragon-background-color: #fffbf7; /* 29. Dragon background color */
  --dragon-text-color: #101020; /* 30. Dragon font color */

}

// this can be removed when base template is updated
/*
#segment-header {
    background-color: var(--ig-header-color);
}

#segment-header > .container {
    background-color: var(--ig-header-container-color);
}

#ig-status {
    margin-top: 21px;
}

#family-nav {
    margin-right: 3px;
}
*/